<style type="text/css">
  
  #upload {               
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);    
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
  }
</style>

{{#drop-area action="fileIsDroped" id="box"}}
  <div id="drop">
    {{outlet}}
  </div>
{{/drop-area}}