<div>
  <h1>Drop Here</h1>
  <div class="option-box">
    {{#if isChangingLang}}
      {{#change-lang action="setLanguage" selected=currentLangID}}
        <option value="eng">English</option>
        <option value="swe">Swedish</option>
      {{/change-lang}}
    {{else}}
      <i>
        <strong>
          <a href="#" class="no-style" {{action "changeLang"}}>{{currentLang}}</a>
        </strong>
      </i>
    {{/if}}
  </div>
</div>